
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
nav ul {
    background-color: #003366;
    padding: 1em;
    display: flex;
    gap: 2em;
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    padding: 2em;
}
